/* styles.css */
.details-container {
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.details-container details {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
}

.details-container summary {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #007BFF;
}

.details-container ul {
    margin-top: 10px;
    line-height: 1.6;
}